.midpanel{
  position: relative;
  bottom: 35%;
  right: 40%;

}

.superiorpanel{
  position: absolute;
  top: 18px;
  right: 18px;
}

.textbox{
  width: 270px;

}

.mybutton{
  width: 135px;
}

.advacedpanel{
  position: relative;
  bottom: 50%;

}
input{
  height: 25px;
  padding: 1px 8px;
  width: 100%;
}

label{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: arial, sans-serif;
}

.bluebutton{
  padding: 0, 12px;
  background-color: #4d90fe;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-family: arial, sans-serif;
  float: right;
  margin: 10px 0;
  height: 30px;
  max-width: 120px;
}
